body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #16697A;
  color: whitesmoke;
  padding-top: 10px;

  h1 {
    padding-top: 30px;
  }
}

.App {
  background-color: #82C0CC;
  width: 100%;
  height: 100%;
}

.page {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #EDE7E3;
  height: 100%;
}