body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  height: 10%;
  background-color: #16697A;
  /* background-color: #82C0CC; */
  color: whitesmoke;
  display: flex;
  align-items: center;
}

h1 {
  padding-left: 10%;
  padding-top: 12px;
  margin-top: 0
}

.App {
  /* background-color: #82C0CC; */
  /* background-color: #16697A; */
  /* background-color: #489FB5; */
  /* background-color: #EDE7E3; */
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

.page {
  margin-left: 10%;
  margin-right: 8%;
  /* background-color: #EDE7E3; */
  /* background-color: #489FB5; */
  height: 80%;
  display: flex;
}

.inputPane {
  background-color: whitesmoke;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  height: 60px;
  padding-bottom: 10px;
}

.btn {
  background-color: #489FB5 !important;
  margin-left: 20px !important;
}

.btn:hover {
  background-color: #16697A !important;
}

.btn:disabled {
  background-color: #82C0CC !important;
  color: #16697A !important;
}

.MuiButton-containedPrimary {
  margin-left: 20px;
}

.input {
  width: 340px !important;
}